body {
  display: block;
  background-color: white;
  width: 62.5rem;
  height: 100vh;
  margin: auto;
  padding: 2rem;
}

.container {
  display: flex;
}

.main_wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  background: #c7ddea;
  width: 31rem;
  height: 34rem;
}

.eh {
  margin-top: 2.125rem;
  width: 19.625rem;
}

/* ------------- side ----------------- */
.aside-container {
  display: flex;
  flex-direction: column;
}

.aside_1,
.aside_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32rem;
  height: 17rem;
}
.aside_1 {
  background: #f17949;
}

.aside_2 {
  background: #ffb939;
}

.aside_1,
.aside_2 > p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Fira Sans;
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 0.8125rem;
  letter-spacing: -0.02em;
  text-align: center;
}
/* ---------------------------- */
ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;

  /* -------- Links ------ */
}

a.home:link {
  color: black;
}
a:hover {
  color: black;
}

a {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 0.75rem;
  letter-spacing: -0.02em;
  font-family: Fira Sans;
  color: rgb(0, 0, 0, 0.5);
  text-decoration: none;
}

/* -------- text ------- */

h1 {
  font-weight: 900;
  font-size: 2.8125rem;
  line-height: 2.8125rem;
  letter-spacing: -2%;
  width: 19.625rem;
  height: 6.3125rem;
  font-family: Frank Ruhl Libre;
}

.white-header {
  color: white;
  width: 314px;
  height: 140px;
  font-family: Frank Ruhl Libre;
  font-size: 45px;
  font-weight: 900;
  line-height: 45px;
  letter-spacing: -0.02em;
}

h2 {
  font-family: Frank Ruhl Libre;
  font-weight: 900;
  line-height: 2.5625rem;
  letter-spacing: -0.02em;
  margin-top: -1rem;
  font-size: 2rem;
  color: white;
  font: Frank Ruhl Libre;
}

.eh > p,
span {
  margin-top: -1rem;
  font-family: Fira Sans;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0em;
  width: 15rem;
  height: 6.4375rem;
}

.eh > p {
  color: rgba(0, 0, 0, 0.8);
}

button {
  border-radius: 2rem;
  width: 8rem;
  height: 2.5rem;
  background-color: rgb(255, 255, 255);
  margin-top: 2rem;
  font-weight: 900;
  font-size: x-small;
  font: Fira Sans;
  border: 10px solid transparent;
  background: #ffffff;
  color: #000000b2;
  box-shadow: 2px 11px 5px -7px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 11px 5px -7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 11px 5px -7px rgba(0, 0, 0, 0.2);
}

.white_span {
  color: rgb(255, 255, 255);
}

#family {
  position: absolute;
  right: 1.875rem;
  bottom: 0;
  width: 17rem;
  height: 17rem;
}

/* ////////////////////////// */

.main2_wrapper {
  display: flex;
}

.section_1 {
  display: flex;
  justify-content: center;
  background: #a9a19e;
  width: 62.625rem;
  height: 38.25rem;
}

.section_2 {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fab131;
  width: 62.5rem;
  height: 42.5rem;
}

.main2_1 {
  justify-content: right;
  padding-left: 10rem;
}

.main2_1 > p {
  padding-top: 1.5rem;
  padding-right: 4rem;
  width: 280px;
  height: 237px;
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0em;
}

.mid-container {
  position: relative;
}

.img-container {
  position: absolute;
  bottom: -10rem;
  right: 4rem;
}

/* .img-container:nth-child(2) {
   right: 12rem;

} */

.rectangle {
  margin: 0.6rem;
}

/* ------------------------------------ */

.overlay-container {
  position: relative;
}

.img-overlay-container {
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: -1rem;
  left: 5.7rem;
}

.profile1 {
  position: absolute;
  text-align: center;
  object-fit: cover;
  left: 1rem;
  bottom: 5.2rem;
  width: 14.375rem;
  height: 7.1rem;
  border-radius: 0, 3rem;
}

.profile2 {
  object-fit: cover;
  text-align: center;
  position: absolute;
  left: 19rem;
  bottom: 5rem;
  width: 14.375rem;
  height: 7.35rem;
  border-radius: 0, 3rem;
}

.profile3 {
  object-fit: cover;
  text-align: center;
  position: absolute;
  width: 14.75rem;
  height: 9.375rem;
  border-radius: 0.3rem;
  left: 36.5rem;
  bottom: 3rem;
}

.img1 {
  left: rem;
  bottom: 5.2rem;
  border-radius: 0.3rem;
  background: rgba(199, 221, 234, 1);
  width: 13.75rem;
  height: 8.6rem;
}

.img2 {
  border-radius: 0.3rem;
  background: rgba(250, 177, 49, 1);
}

.img3 {
  overflow: hidden;
  border-radius: 0.3rem;
  text-align: center;
  width: 13.75rem;
  height: 8.5rem;
  right: 10rem;
  bottom: 1rem;
  background: rgba(241, 121, 73, 1);
}
